{% extends 'index.html' %} {% block content %}
<div class="container">
    <div class="row align-items-top justify-content-between">
        <div class="col-3" style="width: 50%; height: 50%">
            <canvas id="myChart"></canvas>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js" integrity="sha512-TW5s0IT/IppJtu76UbysrBH9Hy/5X41OTAbQuffZFU6lQ1rdcLHzpU5BzVvr/YFykoiMYZVWlr/PX1mDcfM9Qg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script type="text/javascript">
            const ctx = document.getElementById("myChart").getContext("2d");
            const labels = {{labels | safe}};
            const data = {
                labels,
                datasets: [{
                    label: 'Robert Falkowski',
                    data: {{datas | safe}},
                    fill: true,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgb(255, 99, 132)',
                    pointBackgroundColor: 'rgb(255, 99, 132)',
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: 'rgb(255, 99, 132)',
                }, ],
            };
            const config = {
                type: 'radar',
                data: data,
                options: {
                    scales: {
                        r: {
                            grid: {
                                lineWidth: 1,
                                color: "#0d0f45"
                            },
                            ticks: {
                                color: "#0d0f45",
                                backdropColor: "#e6e0bb"
                            },
                            pointLabels: {
                                color: "#0d0f45",
                                font: {
                                    size: 14,
                                    family: "helvetica neue"
                                },
                            },
                            angleLines: {
                                display: false
                            },
                        },
                    },
                    elements: {
                        line: {
                            borderWidth: 3
                        },
                    },
                },
            };
            const myChart = new Chart(ctx, config);
        </script>
        <div class="col-5">
            <h1 style="text-align: center">Calendar</h1>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active overflow-auto" aria-current="true" style="height:150px">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{closest_date.name}}</h5>
                        <small>{{closest_date.the_date}}</small>
                    </div>
                    <p class="mb-1">{{closest_date.more_info}}</p>
                </a>
                <div class="overflow-auto" style="height: 350px">
                    {% for i in dates %}
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{i.name}}</h5>
                            <small>{{i.the_date}}</small>
                        </div>
                        <p class="mb-1">{{i.more_info}}</p>
                    </a>
                    {% endfor %} 
                </div>

            </div>
        </div>
    </div>
    
</div>
{% endblock content %}